<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Volunteer Page</title>
  <style>

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.volunteer-header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.volunteer-header button {
  background-color: #dc3545;
  border: none;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.volunteer-header button:hover {
  background-color: #c82333;
}

.program-card {
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px auto;
}

.program-image-container {
  height: 200px;
  overflow: hidden;
}

.program-image {
  width: 100%;
  display: block;
}

.program-info {
  padding: 15px;
}

.program-logo {
  width: 80px;
  margin: 0 auto 10px;
  display: block;
}

.program-name {
  margin-top: 0;
  font-size: 1.2rem;
}

.program-description {
  color: #555;
  font-size: 14px;
}

.program-address {
  color: #777;
  font-size: 12px;
  margin-top: 10px;
}

.program-dates {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 12px;
  color: #333;
}

  </style>
</head>
<body>
  <header class="volunteer-header">
    <h1>Welcome!</h1>
    <button onclick="logout()">Logout</button>
  </header>

  <% if (programs.length > 0) { %>
    <% programs.forEach(function(program) { %>
      <div class="program-card">
        <div class="program-image-container">
          <img class="request-image" src="data:<%= program.image.contentType %>;base64,<%= program.image.image.toString('base64') %>" alt="Client Image">
        </div>
        <div class="program-info">
          <!-- <img class="request-image" src="data:<%= program.image.contentType %>;base64,<%= program.image.image.toString('base64') %>" alt="Client Image"> -->
          <h2 class="program-name"><%= program.name %></h2>
          <p class="program-description">
            <%= program.description %>
          </p>
          <p class="program-address"><%= program.address %></p>
          <div class="program-dates">
            <span class="start-date">Start: <%= program.startDate %></span>
            <span class="end-date">End: <%= program.endDate %></span>
          </div>
        </div>
      </div>
    <% }); %>
  <% } else { %>
    <p>No programs available.</p>
  <% } %>


  <script>
    function logout() {
        window.location.href = '/logout';
    }
</script>
</body>
</html>

